[submodule "backend"]
	path = backend
	url = https://github.com/IrexFA/TwitchTracker_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/IrexFA/TwitchTracker_frontend
[submodule "scraper"]
	path = scraper
	url = https://github.com/IrexFA/TwitchScraper.git
